<div class="space-y-6">
  <!-- Inscrições -->
  <div class="mb-8 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 sm:p-6">
    <app-relatorio-inscricoes></app-relatorio-inscricoes>
  </div>

  <!-- Caixa -->
  <div class="mb-8 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 sm:p-6">
    <app-relatorio-caixa></app-relatorio-caixa>
  </div>

  <!-- Custos -->
  <div class="mb-8 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 sm:p-6">
    <app-relatorio-custos></app-relatorio-custos>
  </div>

  <!-- Patrimônio -->
  <div class="mb-8 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 sm:p-6">
    <app-relatorio-patrimonio></app-relatorio-patrimonio>
  </div>
</div>
